<html>

<head>
    <title>Remote Control</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <img id="scrImage" />
    <br />
    <table>
        <tr>
            <td>
                <button id="leftButton">Left</button>
            </td>
            <td>
                <button id="rightButton">Right</button>
            </td>
            <td>
                <div style="width: 3em; height: 2em;"></div>
            </td>
            <td><input id="textInput" type="text"></td>
            <td>
                <button id="inputButton">Input</button>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/static/script.js"></script>
</body>

</html>